SECRET_KEY=django-insecure-change-me-in-production
DEBUG=true
ALLOWED_HOSTS=127.0.0.1,localhost

# DB_ENGINE=mysql
DB_NAME=student_clearance_signing
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=

OLLAMA_BASE_URL=http://127.0.0.1:11434
OLLAMA_EMBEDDING_MODEL=all-minilm
OLLAMA_GENERATION_MODEL=qwen2.5:3b
